@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

$primary-color: #ff3864;
$royal-black: #0a0a0af5;
$royal-grey: #16161a;
$royal-blue: #7f5af0;

$texturina-font: 'Texturina', serif;
$jetbrains-font: 'JetBrains Mono', monospace;
$rubik-font: 'Rubik Mono One', sans-serif;

.home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  .home-sub-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2.8px 2.2px -14px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px -14px rgba(0, 0, 0, 0.028),
      0 12.5px 10px -14px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px -14px rgba(0, 0, 0, 0.042),
      0 41.8px 33.4px -14px rgba(0, 0, 0, 0.05),
      0 100px 80px -14px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    padding: 3rem;
    background-color: black;
    h3 {
      max-width: 300px;
      font-family: $rubik-font;
      font-size: 1.1rem;
      text-transform: uppercase;
      margin-right: auto;
      margin-bottom: 20px;
      color: $primary-color;
    }

    input {
      width: 350px;
      outline: none;
      padding: 12px;
      border: 2px solid $primary-color;
      border-radius: 5px;
      background-color: transparent;
      color: $primary-color;
      font-family: $texturina-font;
      font-size: 1.1rem;
      margin-bottom: 15px;
    }

    ::placeholder {
      color: $primary-color;
      opacity: 1;
    }

    #network-error-message {
      color: #fff;
      font-family: $rubik-font;
    }

    .custom-button {
      width: 350px;
      display: block;
      font-family: $rubik-font;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #fffffe;
      background-color: $primary-color;
      border: none;
      border-radius: 3px;
      padding: 12px;
      letter-spacing: 1.2px;
    }

    .custom-button:hover {
      cursor: pointer;
      background-color: $royal-grey;
      color: $primary-color;
    }
  }
}
